<div class="main-content dashboard">
    <div class="options options2">See All Customers<br>
    <form method="post">
        <input type="submit" value="See Customers" name="form1" class="inner-button">
    </form></div>
    <div class="options options2">Add Customer<br>
            <a href="admin/add.php"><button class="inner-button">Add New Customer</button></a>
    </div>
    <div class="options">Edit/Delete Customer<br>
        <form method="post">
            Enter User ID: <br><input type="text" name="edit_customer"><br>
            <input type="submit" value="edit" name="form2">
        </form>
    </div>
    <a href="./controller/logout.php"><div class="options">Logout</div></a>